@import "elements.css";
@import "folds.css";
@import "cals_table.css";
@import "links.css";
@import "assembly.css";

/* Oxygen dark theme*/
@import "dark-theme.css";

/* Paged layout for oxygen editing */
@import "page.css";

/* Rules applied only when printing */
@import "print.css";

/* The floating toolbar configuration */
@import "floating_toolbar.css";

@media oxygen and (platform:webapp) {
  :root {
    font-family: Georgia, Caladea, Cambria, serif;

    webkit-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;

    font-size: 1.1em;
    line-height:1.5;
  }

  entry,
  td{
    font-size: 0.95em;
  }

  literal,
  address,
  package,
  uri,
  code,
  constant,
  envar,
  markup,
  prompt,
  property,
  sgmltag,
  token,
  type,
  parameter,
  varname,
  returnvalue,
  errorcode,
  errorname,
  errortext,
  errortype,
  exceptionname,
  classname,
  symbol,
  methodname,
  interfacename,
  structfield,
  structname,
  synopsis,
  cmdsynopsis,
  synopfragment,
  funcsynopsis,
  classsynopsis,
  modifier,
  initializer,
  keycode,
  command, option, computeroutput, filename, systemitem, userinput,
  programlisting, screen,
  fieldsynopsis, constructorsynopsis, destructorsynopsis, methodsynopsis,
  ooclass, oointerface, ooexception
  {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    font-size: 0.9em;
  }

}
