<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2020 Jarno Elovirta

See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.dita.html5.dublin-core" version="3.6">
  <feature extension="dita.xsl.html5" file="xsl/dublin-core.xsl"/>
</plugin>
