# This file specifies intentionally untracked files that Git should ignore

## Directories generated during builds
build/
logs/
node_modules/
out/
temp/

.DS_Store
*.xpr
*.classpath
*.project

# Idea stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/artifacts
.idea/**/gradle.xml
.idea/**/libraries
.idea/*.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr
.idea/

