@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext");
/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
/*
 * ------------------------------------------------------------------
 *
 * Fight with bootstrap
 *
 */
.navbar-brand {
  height: auto;
}
.navbar {
  background-image: none;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
.wh_header {
  background-color: #ffffff;
  padding: 0;
  border-bottom: 1px solid #dce4ef;
}
a,
a:hover,
a:visited {
  color: #0071bc;
}
a:hover {
  text-decoration: none;
}
.wh_topic_content a {
  text-decoration: underline;
}
/*
 * ------------------------------------------------------------------
 *
 * Publication titles
 *
 */
.wh_publication_title > a {
  padding: 1em 0 ;
  color: #205493;
  font-weight: bold;
  line-height: 1em;
  font-size: 2em;
  font-family: 'Merriweather', sans-serif;
}
@media only screen and (min-width: 768px) {
  .wh_topic_page .wh_header {
    padding: 0;
  }
}
/*
 * ------------------------------------------------------------------
 *
 * Menu
 *
 */
.wh_top_menu {
  margin: .4em 0;
}
.wh_top_menu ul a {
  font-size: 1.3em !important;
  color: #5b616b;
}
/* The menu bar*/
.wh_top_menu > ul > li > .topicref {
  font-weight: bold;
  font-family: 'Merriweather', sans-serif;
}
/* The submenus */
.wh_top_menu ul ul {
  background-color: #112e51;
}
@media only screen and (min-width: 768px) {
  .wh_top_menu > ul > li > .topicref > a {
    background-color: transparent;
    text-transform: uppercase;
    margin: 0 2px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
  }
  /* Menu bar */
  .wh_top_menu ul li:hover a {
    background-color: #112e51;
    color: #ffffff;
  }
  /* Sub menus */
  .wh_top_menu ul ul li {
    border: none;
    background-color: #112e51;
  }
  .wh_top_menu ul li:hover ul a {
    color: #ffffff;
    transition: background-color 0.25s ease-out 0s, color 0.3s ease-out 0s;
  }
  .wh_top_menu ul ul li a:hover {
    color: #ffffff;
    background-color: #112e51;
    text-decoration: underline;
  }
  .wh_top_menu ul ul li.has-children:after {
    color: #ffffff;
  }
}
@media only screen and (max-width: 767px) {
  .wh_top_menu li a {
    color: #5b616b;
  }
  .wh_top_menu li.active a {
    color: #ffffff;
  }
  .wh_top_menu li.active {
    background-color: #112e51;
  }
  .wh_top_menu li.active > span a {
    background-color: rgba(0, 0, 0, 0.07);
  }
  .wh_toggle_button.navbar-toggle,
  .wh_toggle_button.navbar-toggle:focus {
    border: none;
    border-color: #ffffff;
    background-color: #112e51;
  }
  .wh_toggle_button.navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .wh_top_menu ul ul li {
    border: none;
  }
}
@media only screen and (min-width: 768px) {
  .wh_topic_page .wh_top_menu_and_indexterms_link {
    display: inline-block !important;
    padding: 0;
  }
}
/*
 * ------------------------------------------------------------------
 *
 * Link to the index.
 *
 */
@media only screen and (min-width: 768px) {
  .wh_topic_page .wh_indexterms_link {
    float: none;
    display: inline-block;
  }
  .wh_topic_page .wh_indexterms_link a:before {
    position: relative;
    padding: 14px 14px 14px 0;
    top: 0;
    bottom: 0;
    margin: 0;
  }
}
.wh_indexterms_link a:before {
  color: #5b616b;
  font-size: 1.6em;
  position: relative;
}
.wh_indexterms_link a span {
  display: none;
}
@media only screen and (max-width: 767px) {
  .wh_indexterms_link a:before {
    bottom: 0;
  }
}
/* 
 * Welcome area
 */
.wh_welcome:not(:empty) {
  color: #5b616b;
  text-shadow: none;
}
/*
 * ------------------------------------------------------------------
 *
 * Tiles
 *
 */
.wh_tile_shortdesc {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 0.5em;
  text-align: left;
}
.wh_tile_title a {
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: #02bfe7 !important;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Merriweather', sans-serif;
}
@media only screen and (max-width: 767px) {
  .wh_tile > div {
    height: auto;
  }
}
/*
 * ------------------------------------------------------------------
 *
 * Tree TOC for the main page.
 *
 */
.wh_main_page_toc {
  padding-left: 2em;
  border: none;
  background-color: #112e51;
}
.wh_main_page_toc a {
  color: #02bfe7;
  font-size: 1.5em;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:before {
  content: "b";
  /* expand symbol */
  left: -0.5em !important;
  background-color: #112e51;
  font-size: 1.5em;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header.expanded:before {
  content: "c";
  /* collapse symbol */
}
.wh_main_page_toc > .wh_main_page_toc_accordion_header,
.wh_main_page_toc > .wh_main_page_toc_entry {
  padding: 0.5em;
  margin: 0.5em;
  font-weight: bold;
  border-bottom: 1px solid #ffffff;
}
.wh_main_page_toc > .wh_main_page_toc_accordion_header .topicref,
.wh_main_page_toc > .wh_main_page_toc_entry .topicref {
  font-family: 'Merriweather', sans-serif;
}
.wh_main_page_toc_accordion_header.expanded {
  border-bottom: none !important;
  margin-bottom: 0;
}
.wh_main_page_toc_accordion_header.expanded + .wh_main_page_toc_accordion_entries {
  margin: 0 .5em .5em .5em;
  border-top: none;
}
.wh_main_page_toc_accordion_entries {
  border-bottom: 1px solid #ffffff;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover,
.wh_main_page_toc > .wh_main_page_toc_entry:hover {
  background-color: #112e51;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover .topicref,
.wh_main_page_toc > .wh_main_page_toc_entry:hover .topicref {
  text-decoration: underline;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header,
.wh_main_page_toc > .wh_main_page_toc_entry,
.wh_main_page_toc_accordion_entries {
  background-color: #112e51;
  text-align: left;
}
.wh_main_page_toc .wh_toc_shortdesc {
  color: #ffffff;
  background-color: transparent;
  font-weight: normal;
  font-size: 1.4em;
}
.wh_main_page_toc_accordion_header:before {
  color: #02bfe7;
}
.wh_main_page_toc .expanded {
  border: none;
}
/* ---------------------------------   */
.wh_main_page .wh_content_area {
  background-color: #112e51;
  padding: 4em 0 2em 0;
  color: #205493;
  text-align: center;
  align-items: center;
}
/*
 * ------------------------------------------------------------------
 *
 * Search area
 *
 */
.wh_search_input {
  padding: 4em 0;
  margin: 0;
  align-items: center;
  color: #112e51;
  background-color: #ffffff;
  text-align: center;
}
.wh_search_textfield {
  border: solid 1px #5b616b;
  color: #112e51;
  background-color: #ffffff;
  padding: 0 .4em;
  height: 2.1em;
  font-size: 1.1em;
}
.wh_search_textfield {
  border-radius: 6px;
}
.wh_search_button {
  border-radius: 0 6px 6px 0 !important;
  background-color: #0071bc;
  color: #ffffff;
}
.wh_search_button:hover {
  background-color: #205493;
}
@media only screen and (min-width: 768px) {
  .wh_search_textfield {
    height: 2em;
    font-size: 2em;
  }
  .wh_search_button {
    height: 2em;
    font-size: 2em;
    padding: 0.3em 1.1em;
  }
}
/* Search autocomplete icons */
.search-autocomplete-proposal-type-history a,
.search-autocomplete-proposal-type-history a:hover,
.search-autocomplete-proposal-type-history a:visited,
.search-autocomplete-proposal-type-history a:active {
  text-decoration: none;
  color: #205493;
  font-size: 0.8em;
}
.ui-state-active .search-autocomplete-proposal-type-history a,
.ui-state-active .search-autocomplete-proposal-type-history a:hover,
.ui-state-active .search-autocomplete-proposal-type-history a:visited,
.ui-state-active .search-autocomplete-proposal-type-history a:active {
  color: #ffffff;
}
/* Do not allow the text to go beneath the search button  */
@media only screen and (min-width: 768px) {
  .wh_search_textfield {
    padding-right: 3em;
  }
}
/* Search field placeholder */
::-webkit-input-placeholder {
  color: #112e51;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #112e51;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #112e51;
}
:-ms-input-placeholder {
  color: #112e51;
}
/* Change Autocomplete styles in Chrome */
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 1px solid #5b616b;
  -webkit-text-fill-color: #112e51;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
/*
 * ------------------------------------------------------------------
 *
 * Footer
 *
 */
.wh_footer {
  background-color: #d6d7d9;
  padding: 4em 0em;
  color: #212121;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
}
.wh_footer a {
  color: #212121;
}
/*
 * ------------------------------------------------------------------
 *
 * Topic content
 *
 */
.wh_content_area {
  background-color: #ffffff;
  padding: 0;
  font-size: 1.4em;
  padding-bottom: 2em;
  line-height: 1.7em;
}
.wh_topic_content {
  color: #112e51;
}
/*
 * Title & subtitles
 */
.topictitle1 {
  font-weight: normal;
}
.topictitle1,
.topic > .title {
  font-family: 'Merriweather', sans-serif;
  color: #205493;
}
/*
 * ------------------------------------------------------------------
 *
 * Breadcrumb
 *
 */
.wh_breadcrumb ol {
  padding: .5em;
}
.wh_breadcrumb ol,
.wh_breadcrumb ol a {
  color: #205493;
  font-size: 1.1em;
}
.wh_breadcrumb ol .active a {
  color: #0071bc;
  font-weight: bold;
  text-decoration: underline;
}
.home a span {
  display: none;
}
.home a:before {
  font-family: "oXygen WebHelp", serif;
  content: "o";
}
/*
 * ------------------------------------------------------------------
 *
 * Tools and navigation
 *
 */
.wh_tools {
  border-bottom: solid 1px #dce4ef;
  border-top: solid 1px #dce4ef;
  background-color: #ffffff;
  padding: 0;
  margin: 0 0 2em 0;
  font-size: 1.2em;
  color: #205493;
  /* Flex layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wh_print_link button,
.webhelp_expand_collapse_sections,
.wh_hide_highlight,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before {
  color: #205493;
  text-decoration: none;
  vertical-align: baseline;
}
.wh_right_tools {
  padding: 0;
  position: initial;
}
/*
 * Other content
 */
.wh_topic_content .shortdesc {
  font-style: italic;
}
/*
 * ------------------------------------------------------------------
 *
 * Publication TOC
 *
 */
.wh_publication_toc {
  border-left: 10px solid #02bfe7;
  border-radius: 4px;
  background-color: #e1f3f8;
  padding: 1em;
  line-height: 2em;
}
/* x more */
.dots-after span,
.dots-before span {
  border: 1px solid #212121;
}
.wh_publication_toc > ul {
  padding-left: 0;
}
.wh_publication_toc .active > .topicref a {
  font-weight: bold;
}
.wh_publication_toc span,
.wh_publication_toc a,
.wh_publication_toc a:visited,
.wh_publication_toc a:hover {
  color: #212121;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .wh_publication_toc {
    padding: 1em;
    margin-left: 0;
    margin-top: 1em;
  }
}
.wh_publication_toc .wh-expand-btn:before {
  margin-right: 10px;
  opacity: 1;
}
/* Publication TOC tooltip */
.wh_breadcrumb .topicref .wh-tooltip,
.wh_publication_toc .topicref .wh-tooltip {
  background-color: #112e51;
  color: #ffffff;
}
.wh_breadcrumb .topicref .wh-tooltip a,
.wh_publication_toc .topicref .wh-tooltip a {
  color: #ffffff;
  text-decoration: underline;
}
/* Tooltip arrow. */
[data-tooltip-position="left"] .topicref .wh-tooltip::before {
  border-left-color: #112e51;
}
[data-tooltip-position="right"] .topicref .wh-tooltip::before {
  border-right-color: #112e51;
}
[data-tooltip-position="bottom"] .topicref .wh-tooltip::before {
  border-bottom-color: #112e51;
}
[data-tooltip-position="top"] .topicref .wh-tooltip::before {
  border-top-color: #112e51;
}
/* Topic TOC */
.wh_topic_toc {
  border-left: 5px solid #0071bc;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding: 0;
}
.wh_topic_toc .wh_topic_label {
  color: #ffffff;
  background-color: #0071bc;
  font-family: 'Merriweather', sans-serif;
  padding-left: 0.5em;
}
.wh_topic_toc > ul {
  padding-left: 0.5em !important;
}
.wh_topic_toc .topic-title a {
  color: #212121;
}
.wh_topic_toc .topic-title .current_node {
  font-weight: bold;
  color: #212121;
  text-decoration: underline;
}
/* Related links */
.linklist > strong:nth-child(1) {
  font-family: 'Merriweather', sans-serif;
  color: #212121;
}
.wh_related_links .related-links,
.wh_topic_content .related-links,
.wh_child_links {
  margin: 1em 0 1em 0;
  background-color: #f1f1f1;
  border: #f1f1f1 solid 1px;
  border-radius: 4px;
  padding: 0 1em;
  color: #212121;
}
.wh_related_links .related-links a,
.wh_topic_content .related-links a,
.wh_child_links a {
  color: #0071bc;
  font-weight: bold;
}
.wh_child_links {
  padding: 1em;
}
.wh_topic_content .related-links {
  font-size: .8em;
}
/*
 * ------------------------------------------------------------------
 *
 * Search results.
 *
 */
.searchresult {
  list-style: none;
}
.searchresult li {
  padding: .5em;
}
.searchresult li a {
  color: #205493;
}
/*--------- Search results breadcrumb ----------*/
.search-breadcrumb li a {
  color: #212121;
  background: #e1f3f8;
}
.search-breadcrumb li .title:before,
.search-breadcrumb li .title:after {
  border-color: #e1f3f8;
}
.search-breadcrumb li .title:before {
  border-left-color: transparent;
}
.search-breadcrumb li .title:after {
  border-color: transparent;
  border-left-color: #e1f3f8;
}
/*-------------------*/
.showSimilarPages:hover {
  color: #205493;
}
.searchresult .shortdesclink {
  margin: 0 .5em 0 0;
  color: #112e51;
  line-height: 1.2em;
  font-size: .9em;
}
/* Search relative path */
.searchresult li .relativePath a {
  color: #2e8540;
}
.searchresult .wh_missing_words {
  color: #212121;
}
.wh_search_expression {
  color: #205493;
}
.wh_search_expression {
  font-weight: bold;
}
/* Search results pagination */
.wh-search-pagination li a {
  color: #0071bc;
}
.wh-search-pagination .active a {
  color: #ffffff;
  background-color: #0071bc;
}
.wh-search-pagination .disabled a,
.wh-search-pagination .disabled a:focus,
.wh-search-pagination .disabled a:hover {
  color: #5b616b;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
  border-color: #dce4ef;
}
/* Highlights */
.highlight {
  background-color: #5b616b;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 0 1px;
}
.wh-h {
  padding: 0 1px;
}
/* Index terms */
.wh-letters {
  background-color: #ffffff;
}
.wh-letters a {
  color: #205493;
  text-decoration: underline;
  font-family: 'Merriweather', sans-serif;
}
.wh_term_group {
  border-bottom: 1px solid #112e51;
  background-color: #ffffff;
  margin: 1em 0;
  padding: 1em;
}
.wh_term > span {
  color: #112e51;
  font-style: italic;
  font-size: 1.2em;
}
.wh_term .wh_term_target {
  color: #0071bc;
  font-size: 1.2em;
}
.wh_index_terms span.wh_first_letter {
  color: #205493;
  border: none;
  font-size: 1.5em;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}
.wh_index_terms #indexList {
  padding: 0;
}
