// Styling for DITA Project files
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace dp url('https://www.dita-ot.org/project');

@import "../../lw/css/library.less";

.DITAProject() {
  & {
    font-family:arial, helvetica, sans-serif;
    display:block;
    margin: 0.5em;
  }
  & > * {
    margin-bottom:0.5em;
    padding-left:0.2em;
    border-left:3px solid #EEEEEE;
    
    padding-bottom:0.2em;
    border-bottom:1px solid #EEEEEE;
  }
  &:before{
    display:block;
    text-align:left;
    content:"DITA Project file";
    .color(blue);
    font-weight:bold;
    font-size:larger;    
  }
}

.displayElement(@label:oxy_local-name()) {
  &{
    display:block;
    margin-left:1em;
  }
  &:before(100) {
    content: oxy_label(text, oxy_concat(@label, " "), width, 5.5em, color, inherit) 
    oxy_label(text, ":   ", color, gray) ;
  }
}


.link(@ref:href, @prefix:"") {
  &[@{ref}]:before(5) {
    content: url("../../img/link.png") oxy_concat(@prefix, attr(@ref));
    link: oxy_concat(@prefix, attr(@ref));
    .color(navy);
  }
  &[@{ref}]:before(5):hover,
  &[@{ref}]:before(5):focus{
    text-decoration:underline;
    link: oxy_concat(@prefix, attr(@ref));
  }
}

.name() {
  &[name]:before(10) {
    font-weight:bold;
    .color(black);
    content:attr(name) " ";
  }
}

.path() {
  &[path]:before(4) {
    .background-color(#EEEEEE);
    content:" " attr(path) " ";
  }
}

.value() {
  &[value]:before(3) {
    content:attr(value) " ";
  }
}

.id() {
  &[id]:before(5) {
    content:"[" attr(id) "]";
    .color(gray);
    
  }
}

.idref() {
  &[idref]{
    .link(idref, "#");
  }
}

.transtype() {
  &[transtype]:before(3) {
    content:" transform to " ;
  }
  &[transtype]:before(2) {
    .color(blue);
    content: oxy_label(text, attr(transtype)) " ";
  }
}

/*  ----------------------------  */

dp|project {
  .color(black);
  .DITAProject();
}

dp|include {
  .color(maroon);
  .displayElement();
  .link(href);
}


dp|deliverable {
  .color(blue);
   .displayElement();
  .name();
  .id();
}


dp|publication:not([idref]) {
    .color(purple);
    .displayElement();
    .name();
    .id();
    .transtype();
}

dp|publication[idref] {
    .color(purple);
    .displayElement();
    .idref();
}




dp|context:not([idref]) {
  .color(green);
  .displayElement();
  .name();
  .id();
}

dp|context[idref] {
  .color(green);
  .displayElement();
  .idref();
}



dp|input {
  .displayElement();
  .link(href);
}



dp|profile {
  .displayElement();
}

dp|ditaval {
  .link(href);  
}

dp|output {
  .displayElement();
  .link(href);
}

dp|param {
  display:block;
  margin-left:1em;
  .color(brown);
  &[name]:before(10) {
    //font-weight:bold;
    .color(black);
    content:oxy_label(text, oxy_concat(attr(name), " "), width, 4em, color, inherit)
  }
  &:before(9) {
    .color(gray);
    content:" =    ";
  }
  .link(href);
  .path();
  .value();
}







