:root {
  font-family: "Century Gothic", "Helvetica", serif, "Malgun Gothic";
}

*[class~="hazard-d/hazardstatement"] {
  font-family:arial, helvetica, sans-serif, "Malgun Gothic";
}

*[class~="hi-d/tt"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="pr-d/apiname"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="pr-d/codeph"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="pr-d/kwd"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/msgph"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/msgblock"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/cmdname"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/varname"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/filepath"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/userinput"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="sw-d/systemoutput"] {
  font-family: monospace, "Malgun Gothic";
}

@media oxygen AND (platform:eclipse), oxygen AND (platform:standalone) {
    *[class~="ut-d/imagemap"]  > *[class~="topic/image"]:after(2){ 
        font-family: sansserif, verdana, helvetica, "Malgun Gothic";
    }
}

*[class~='subjectScheme/subjectScheme']{
  font-family:dialog, sans-serif, "Malgun Gothic";
}

@media oxygen and (platform:standalone), oxygen and (platform:eclipse) {
   *[class~="topic/tgroup"]:before! > *[class~="topic/colspec"]{ 
       font-family: sansserif, verdana, helvetica, "Malgun Gothic";
   }
}

*[class~="topic/colspec"], col, spanspec{
    font-family:sansserif, verdana, helvetica, "Malgun Gothic";
}

*[class~="topic/pre"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~="topic/indexterm"] {
  font-family: monospace, "Malgun Gothic";
}

*[class~='map/reltable'] *[class~='map/topicref']:before(1005), *[class~="map/topicref"]:before(1005) {
    font-family: dialog, sans-serif, "Malgun Gothic";
}

*[class~="topic/title"] {
    font-family: "Calibri", "UnDotum", sansserif, "Malgun Gothic";
}