@charset "UTF-8";
	  			
	  			
	  				
	
/*

I18N file for ko    	

*/

/* Title in the Index page */
*[class ~= "index/groups"]:lang(ko):before {
  content: "색인";
}
*[class ~= "index/groups"]:lang(ko) {
  bookmark-label:"색인";  
  -ah-bookmark-label:"색인";  
}

	  			
	  			
	  				  	
	

/* Title of the TOC page */
*[class ~= "toc/title"][empty]:lang(ko):before {
	content: "목차";
}

/* This string is used in the TOC page header. */
*[class ~= "toc/title"]:lang(ko) {
  string-set: toc-header "목차";
}
  	
/* Titles in the TOC. */
*[class ~= "map/topicref"][is-part] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(ko):before{
  content: "제 " counter(toc-part, upper-roman) " 부" ". ";
}

*[class ~= "map/topicref"][is-chapter]:not([is-part]) > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(ko):before{
  content: "제 " counter(toc-chapter) " 장 " ". ";
}
*[class ~= "bookmap/appendices"] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(ko):before,
*[class ~= "bookmap/appendix"][is-part] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(ko):before{
  content: none !important;
}
*[class ~= "bookmap/appendix"][is-chapter]:not([is-part]) > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(ko):before{
  content: "부록 " counter(toc-chapter, upper-latin) "" ". ";
}

/* Titles in the content. */
*[class ~= "topic/topic"][is-part] > *[class ~= "topic/title"]:lang(ko):before {
 content: "제 " counter(part, upper-roman) " 부" ". ";
}
*[class ~= "topic/topic"][is-chapter]:not([is-part]) > *[class ~= "topic/title"]:lang(ko):before {
  content: "제 " counter(chapter) " 장 " ". ";
}
*[class ~= "topic/topic"][is-part][topicrefclass ~= "bookmap/appendices"] > *[class ~= "topic/title"]:lang(ko):before,
*[class ~= "topic/topic"][is-chapter]:not([is-part])[topicrefclass ~= "bookmap/appendices"] > *[class ~= "topic/title"]:lang(ko):before,
*[class ~= "topic/topic"][is-part][topicrefclass ~= "bookmap/appendix"] > *[class ~= "topic/title"]:lang(ko):before {
  content: none;
}
*[class ~= "topic/topic"][is-chapter][topicrefclass ~= "bookmap/appendix"]:not([is-part]) > *[class ~= "topic/title"]:lang(ko):before {
  content: "부록 " counter(chapter, upper-latin) "" ". ";
}

/* Figures */  
*[class ~= "topic/fig"] > *[class ~= "topic/title"]:lang(ko):before {
  content: "그림 " counter(figcount) "" ": ";
}

/* Tables */
*[class ~= "topic/table"] > *[class ~= "topic/title"]:lang(ko):before {
  content: "표 " counter(tablecount) "" ": ";
}

/* Links. */
*[class ~= "map/map"] *[class ~= "topic/xref"][href]:lang(ko):after,
*[class ~= "map/map"] *[class ~= "topic/link"][href]:lang(ko):after {
  content: " (페이지 " target-counter(attr(href), page) ")";
}

/* Links when having chapter scope numbering */
*[class ~= "map/map"][numbering='deep-chapter-scope'] *[class ~= "topic/xref"][href]:lang(ko):after,
*[class ~= "map/map"][numbering='deep-chapter-scope'] *[class ~= "topic/link"][href]:lang(ko):after {
  content: " (페이지 " target-counter(attr(href), chapter) "." target-counter(attr(href), page) ")";
}

	  			
				  
					  	
	
*[class~="topic/table"] > *[class~="topic/title"][data-is-repeated]:lang(ko):after(2) {
    content: " " "";
}

			  		
	  		