@charset "UTF-8";
	  			
	  			
	  				
	
/*

I18N file for uk    	

*/

/* Title in the Index page */
*[class ~= "index/groups"]:lang(uk):before {
  content: "Покажчик";
}
*[class ~= "index/groups"]:lang(uk) {
  bookmark-label:"Покажчик";  
  -ah-bookmark-label:"Покажчик";  
}

	  			
	  			
	  				  	
	

/* Title of the TOC page */
*[class ~= "toc/title"][empty]:lang(uk):before {
	content: "Зміст";
}

/* This string is used in the TOC page header. */
*[class ~= "toc/title"]:lang(uk) {
  string-set: toc-header "Зміст";
}
  	
/* Titles in the TOC. */
*[class ~= "map/topicref"][is-part] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(uk):before{
  content: "Частина " counter(toc-part, upper-roman) "" ". ";
}

*[class ~= "map/topicref"][is-chapter]:not([is-part]) > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(uk):before{
  content: "Розділ " counter(toc-chapter) "" ". ";
}
*[class ~= "bookmap/appendices"] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(uk):before,
*[class ~= "bookmap/appendix"][is-part] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(uk):before{
  content: none !important;
}
*[class ~= "bookmap/appendix"][is-chapter]:not([is-part]) > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(uk):before{
  content: "Додаток " counter(toc-chapter, upper-latin) "" ". ";
}

/* Titles in the content. */
*[class ~= "topic/topic"][is-part] > *[class ~= "topic/title"]:lang(uk):before {
 content: "Частина " counter(part, upper-roman) "" ". ";
}
*[class ~= "topic/topic"][is-chapter]:not([is-part]) > *[class ~= "topic/title"]:lang(uk):before {
  content: "Розділ " counter(chapter) "" ". ";
}
*[class ~= "topic/topic"][is-part][topicrefclass ~= "bookmap/appendices"] > *[class ~= "topic/title"]:lang(uk):before,
*[class ~= "topic/topic"][is-chapter]:not([is-part])[topicrefclass ~= "bookmap/appendices"] > *[class ~= "topic/title"]:lang(uk):before,
*[class ~= "topic/topic"][is-part][topicrefclass ~= "bookmap/appendix"] > *[class ~= "topic/title"]:lang(uk):before {
  content: none;
}
*[class ~= "topic/topic"][is-chapter][topicrefclass ~= "bookmap/appendix"]:not([is-part]) > *[class ~= "topic/title"]:lang(uk):before {
  content: "Додаток " counter(chapter, upper-latin) "" ". ";
}

/* Figures */  
*[class ~= "topic/fig"] > *[class ~= "topic/title"]:lang(uk):before {
  content: "Мал. " counter(figcount) "" ": ";
}

/* Tables */
*[class ~= "topic/table"] > *[class ~= "topic/title"]:lang(uk):before {
  content: "Табл. " counter(tablecount) "" ": ";
}

/* Links. */
*[class ~= "map/map"] *[class ~= "topic/xref"][href]:lang(uk):after,
*[class ~= "map/map"] *[class ~= "topic/link"][href]:lang(uk):after {
  content: " (на стор. " target-counter(attr(href), page) ")";
}

/* Links when having chapter scope numbering */
*[class ~= "map/map"][numbering='deep-chapter-scope'] *[class ~= "topic/xref"][href]:lang(uk):after,
*[class ~= "map/map"][numbering='deep-chapter-scope'] *[class ~= "topic/link"][href]:lang(uk):after {
  content: " (на стор. " target-counter(attr(href), chapter) "." target-counter(attr(href), page) ")";
}

	  			
				  
					  	
	
*[class~="topic/table"] > *[class~="topic/title"][data-is-repeated]:lang(uk):after(2) {
    content: " " "";
}

			  		
	  		