/* Topic content styles. */
@import "topic/topic.css?buildId=2021030117";

/* Default styles. */
@import "core/webhelp.css?buildId=2021030117";

/* Top Menu and Side TOC components styles. */
@import "nav-links/nav-links.css?buildId=2021030117";

/* Expand/collapse topic sections. */
@import "core/expand.css?buildId=2021030117";

/** Permanent links styles. */
@import "core/permalink.css?buildId=2021030117";