@import "topic-page-print.css?buildId=2021030117";

/* Default styles. */
@import "core/webhelp.css?buildId=2021030117";

/* Top Menu and Publication TOC components styles. */
@import "nav-links/nav-links.css?buildId=2021030117";


/* Expand/collapse topic sections. */
@import "core/expand.css?buildId=2021030117";

/* Tooltip styles. */
@import "nav-links/tooltip.css?buildId=2021030117";

/** Permanent links styles. */
@import "core/permalink.css?buildId=2021030117";