@media oxygen {
	a[href]:before,
	link[href]:before {
	    -oxy-link: attr(href);
	    content:url(img/link.png);
	    display:inline;
	    text-decoration:underline;
	    color:navy;
	    background-color:inherit;
	}
}

@media print{
	link[href],
	a[href] {
	   -oxy-link:attr(href);
	   -ah-link:attr(href);	 
	   link:attr(href);
	}
}