<plugin id="com.oxygenxml.dost.patches">
 <!--
 
 Uncomment this to easily test the dost-patches from 
 the development environment, without packing the 
 oxygen-dost-patches.jar.
 
 This jar file is currently produced by the pom.xml file from the parent DITA-OT folder, when running 'mvn clean verify -U'. It may be commited 
 when there are changes, but is also automatically built by the integration server.
 
 Run integrator after uncommenting.  
 Do not commit it uncommented.
 
 <feature extension="dita.conductor.lib.import" file="../../target/classes" type="file"/>
 
 -->

<feature extension="dita.conductor.lib.import" file="lib/oxygen-dost-patches.jar" type="file"/>
 
</plugin>