/*
 * =====================================================
 * 
 * Page size, margins, borders, etc..
 * =====================================================
 */

@page {
    padding-top:0.2em;
    padding-bottom:0.2em;
    size: us-letter;
    margin: 1in;
}

