/* Disable for the moment the imagemap hotspots.
*[class ~= "ut-d/imagemap"] > *[class ~= "topic/image"] {
    prince-image-resolution: unset;
    -ah-image-resolution: unset;
    image-resolution: unset;
    max-width: unset;
}*/

*[class ~= "ut-d/imagemap"] {
    position: relative;
}

*[class ~= "ut-d/shapecontainer"] {
    position: absolute;
    top: 0;
}

*[class ~= "ut-d/shapeform"] {
    stroke: blue;
    stroke-width: 1;
    fill-opacity: 0;
    stroke-opacity: 1;
}

*[class ~= "ut-d/hotspot"] {
    stroke: blue;
    fill: blue;
    stroke-width: 1;
    fill-opacity: 1;
    stroke-opacity: 1;
}

*[class ~= "ut-d/hotspotcontent"] {
    fill: white;
    font-size: 0.4em;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
}
