<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="com.oxygenxml.webhelp.localization">
  <require plugin="com.oxygenxml.webhelp.responsive"/>

  <feature extension="dita.xsl.strings" file="webhelp-extension-strings.xml"/>
</plugin>
