<p>
  The DITA Task topic type provides procedural information to support the performance
  of a task. This information model provides detailed semantics to encourage authors to
  label standard parts of the task, including prerequisites, sufficient conceptual
  information required to perform the task, the commands that introduce each step in a
  procedure, additional support information required to understand a step, the result of
  performing the task, and examples that demonstrate the performance of the task.
</p>