<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.common">  
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="24.1"/>
    
  
  <feature extension="dita.conductor.lib.import" file="lib/jakarta.xml.bind-api-2.3.3.jar"  xml:base="."/>
  <feature extension="dita.conductor.lib.import" file="lib/jaxb-impl-2.3.3.jar"  xml:base="."/>
  <feature extension="dita.conductor.lib.import" file="lib/jakarta.activation-1.2.2.jar"  xml:base="."/>
  <feature extension="dita.conductor.lib.import" file="lib/ant-contrib-1.0b3.jar"  xml:base="."/>
  
  <feature extension="dita.conductor.lib.import" file="lib/oxygen-dita-publishing-ant-extensions.jar"  xml:base="."/>
  <feature extension="dita.conductor.lib.import" file="lib/oxygen-dita-publishing-xslt-extensions.jar"  xml:base="."/>
  
  <!--Support the clean.output parameter-->
  <feature extension="depend.preprocess.pre" value="com.oxygenxml.cleanOutput" type="text"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
</plugin>
