<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %msg%n</pattern>
      <!--pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
      </pattern-->
    </encoder>
  </appender>
  <logger name="FOP" level="INFO"/>
  <logger name="org.apache.fop" level="INFO"/>
  <logger name="org.apache.fop.apps.FopConfParser" level="WARN"/>
  <logger name="org.apache.xmlgraphics" level="INFO"/>
  <logger name="org.apache.http" level="INFO"/>
  <logger name="org.zendesk.client" level="INFO"/>
  <logger name="io.netty" level="INFO"/>
  <logger name="org.asynchttpclient" level="INFO"/>
  <logger name="com.oxygenxml.platform.integration" level="INFO"/>
  <logger name="com.oxygenxml.zendesk" level="INFO"/>
  <logger name="ro.sync" level="INFO"/>
  <logger name="org.ditang.relaxng.defaults" level="INFO"/>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>