---
title: 收不到 Agora 发送的验证邮件怎么办？
platform: ["All Platforms"]
updatedAt: 2021-03-19 07:07:33
Products: ["Agora Platform"]
---

当你在 [Agora 控制台](https://console.agora.io/#onboarding)进行以下操作时，Agora 会向你的邮箱或项目成员的邮箱发送验证邮件：

- 验证邮箱
- 重置密码
- 添加成员或重置成员的密码
- 其他安全设置

为确保你或者你的项目成员接收到 Agora 发送的验证邮件，请把以下邮箱地址添加到邮箱白名单：

- [support@agora.io](mailto:support@agora.io)
- [developer@agora.io](mailto:developer@agora.io)
- [agora@support.agora.io](mailto:agora@support.agora.io)
