---
title: What should I do if I cannot receive the verification email from Agora？
platform: ["All Platforms"]
updatedAt: 2021-03-19 07:06:58
Products: ["Agora Platform"]
---
When you perform the following operations on [Agora Console](https://console.agora.io/#onboarding), Agora sends a verification email to you or your member:

- Verify your email address
- Reset your password
- Add a new member or reset a member's password
- Other security settings

To ensure that you or your project members receive the verification email sent by Agora, please add the following email addresses to the email whitelist:

- [support@agora.io](mailto:support@agora.io)
- [developer@agora.io](mailto:developer@agora.io)
- [agora@support.agora.io](mailto:agora@support.agora.io)