# This workflow will use OxygenScript to build features.

name: Awesome OxygenScript for DITA doc building (NG SDK)

on:
  push:
    # branches: [ master, 'release/**' ]
    branches: [ 'release/rtc-ng/3.8.200' ]
    
  pull_request:
    branches: [ 'release/rtc-ng/3.8.200' ]
  #   branches: [ master, 'release/**' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: montudor/action-zip@v1
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8.0.332+9'
        distribution: 'temurin'
    - name: DITA doc building
      run: |
          cd scripts/oxygen/scripts

          ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_CPP.ditamap -sn "DITA Map HTML5 - NG C++" -s ../../../.github/workflows/exported_scenarios.scenarios -v
          ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_Android.ditamap -sn "DITA Map HTML5 - NG Android" -s ../../../.github/workflows/exported_scenarios.scenarios -v 
          ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_iOS.ditamap -sn "DITA Map HTML5 - NG iOS" -s ../../../.github/workflows/exported_scenarios.scenarios -v
          ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_iOS.ditamap -sn "DITA Map HTML5 - NG macOS" -s ../../../.github/workflows/exported_scenarios.scenarios -v  
    - name: zip files
      run: |
          cd dita/RTC-NG/out
          zip -qq -r cpp_ng_cn_doc.zip "c++ ng"
          zip -qq -r ios_ng_cn_doc.zip "ios-ng"
          zip -qq -r mac_ng_cn_doc.zip "mac-ng"
          zip -qq -r android_ng_cn_doc.zip "android-ng"
          
    - name: Upload C++ NG doc to release
      uses: svenstaro/upload-release-action@v2
      with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dita/RTC-NG/out/cpp_ng_cn_doc.zip
          asset_name: cpp_ng_cn_doc.zip
          tag: main
          overwrite: true
          body: "DITA docs."
    - name: Upload Android NG doc to release
      uses: svenstaro/upload-release-action@v2
      with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dita/RTC-NG/out/android_ng_cn_doc.zip
          asset_name: android_ng_cn_doc.zip
          tag: main
          overwrite: true
          body: "DITA docs."
    - name: Upload iOS NG doc to release
      uses: svenstaro/upload-release-action@v2
      with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dita/RTC-NG/out/ios_ng_cn_doc.zip
          asset_name: ios_ng_cn_doc.zip
          tag: main
          overwrite: true
          body: "DITA docs."
    - name: Upload macOS NG doc to release
      uses: svenstaro/upload-release-action@v2
      with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dita/RTC-NG/out/mac_ng_cn_doc.zip
          asset_name: mac_ng_cn_doc.zip
          tag: main
          overwrite: true
          body: "DITA docs."
