# This workflow will use OxygenScript to build features.

name: Awesome OxygenScript for DITA doc building (NG SDK)

on:
    push:
        # branches: [ master, 'release/**' ]
        branches: ["master"]

    pull_request:
        # branches: [ master, 'release/**' ]
        branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - uses: montudor/action-zip@v1
            - name: Set up JDK 8
              uses: actions/setup-java@v3
              with:
                  java-version: "8.0.332+9"
                  distribution: "temurin"
            - name: DITA doc building
              run: |
                  cd scripts/oxygen/scripts
                  echo "Start building docs for C++ CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_CPP.ditamap -sn "DITA Map HTML5 - NG C++" -s ../../../.github/workflows/exported_scenarios.scenarios -v
                  echo "Start building docs for Android CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_Android.ditamap -sn "DITA Map HTML5 - NG Android" -s ../../../.github/workflows/exported_scenarios.scenarios -v
                  echo "Start building docs for iOS CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_iOS.ditamap -sn "DITA Map HTML5 - NG iOS" -s ../../../.github/workflows/exported_scenarios.scenarios -v
                  echo "Start building docs for macOS CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_iOS.ditamap -sn "DITA Map HTML5 - NG macOS" -s ../../../.github/workflows/exported_scenarios.scenarios -v

                  echo "Start building docs for C++ EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"          
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_CPP.ditamap -sn "DITA Map HTML5 - NG C++" -s ../../../.github/workflows/exported_scenarios_en.scenarios -v
                  echo "Start building docs for Android EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"              
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_Android.ditamap -sn "DITA Map HTML5 - NG Android" -s ../../../.github/workflows/exported_scenarios_en.scenarios -v
                  echo "Start building docs for iOS EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"   
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_iOS.ditamap -sn "DITA Map HTML5 - NG iOS" -s ../../../.github/workflows/exported_scenarios_en.scenarios -v
                  echo "Start building docs for macOS EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"     
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_iOS.ditamap -sn "DITA Map HTML5 - NG macOS" -s ../../../.github/workflows/exported_scenarios_en.scenarios -v
            - name: zip files
              run: |
                  cd dita/RTC-NG/out
                  zip -qq -r cpp_ng_cn_doc.zip "c++ ng"
                  zip -qq -r ios_ng_cn_doc.zip "ios-ng"
                  zip -qq -r mac_ng_cn_doc.zip "mac-ng"
                  zip -qq -r android_ng_cn_doc.zip "android-ng"

                  cd ../../../en-US/dita/RTC-NG/out
                  zip -qq -r cpp_ng_en_doc.zip "c++ ng_en"
                  zip -qq -r ios_ng_en_doc.zip "ios-ng_en"
                  zip -qq -r mac_ng_en_doc.zip "mac-ng_en"
                  zip -qq -r android_ng_en_doc.zip "android-ng_en"

            - name: Upload C++ NG CN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/cpp_ng_cn_doc.zip
                  asset_name: cpp_ng_cn_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload C++ NG EN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/cpp_ng_en_doc.zip
                  asset_name: cpp_ng_en_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Android NG CN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/android_ng_cn_doc.zip
                  asset_name: android_ng_cn_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Android NG EN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/android_ng_en_doc.zip
                  asset_name: android_ng_en_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload iOS NG CN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/ios_ng_cn_doc.zip
                  asset_name: ios_ng_cn_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload iOS NG EN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/ios_ng_en_doc.zip
                  asset_name: ios_ng_en_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload macOS NG CN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/mac_ng_cn_doc.zip
                  asset_name: mac_ng_cn_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
            - name: Upload macOS NG EN doc to release
              uses: svenstaro/upload-release-action@v2
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/mac_ng_en_doc.zip
                  asset_name: mac_ng_en_doc.zip
                  tag: main
                  overwrite: true
                  body: "DITA docs."
