# This workflow will use OxygenScript to build features.

name: (NG SDK Frameworks)Awesome OxygenScript for DITA doc building

on:
    push:
        # branches: [ master, 'release/**' ]
        branches: ["release/rtc-ng/4.1.0"]

    pull_request:
        # branches: [ master, 'release/**' ]
        branches: [ master ]


jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - uses: montudor/action-zip@v1
            - name: Get branch name
              id: branch-name
              uses: tj-actions/branch-names@v7
            - name: Set up JDK 8
              uses: actions/setup-java@v3
              with:
                  java-version: "8.0.332+9"
                  distribution: "temurin"
            - name: DITA doc building
              run: |
                  cd scripts/oxygen/scripts
                  echo "Start building docs for Flutter CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_Flutter.ditamap -sn "DITA Map HTML5 - NG Flutter" -s ../../../.github/workflows/NG-Flutter-cn.scenarios -v
                  echo "Start building docs for RN CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_RN.ditamap -sn "DITA Map HTML5 - NG RN" -s ../../../.github/workflows/NG-RN-cn.scenarios -v
                  echo "Start building docs for Unity CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_Unity.ditamap -sn "DITA Map HTML5 - NG Unity" -s ../../../.github/workflows/NG-Unity-cn.scenarios -v
                  echo "Start building docs for Electron CN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../dita/RTC-NG/RTC_NG_API_Electron.ditamap -sn "DITA Map HTML5 - NG Electron" -s ../../../.github/workflows/NG-Electron-cn.scenarios -v

                  echo "Start building docs for Flutter EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_Flutter.ditamap -sn "DITA Map HTML5 - NG Flutter" -s ../../../.github/workflows/NG-Flutter-en.scenarios -v
                  echo "Start building docs for RN EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_RN.ditamap -sn "DITA Map HTML5 - NG RN" -s ../../../.github/workflows/NG-RN-en.scenarios -v
                  echo "Start building docs for Flutter EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_Unity.ditamap -sn "DITA Map HTML5 - NG Unity" -s ../../../.github/workflows/NG-Unity-en.scenarios -v
                  echo "Start building docs for Electron EN"
                  echo "-----------------------------------------------------------------------------------------------"
                  echo "-----------------------------------------------------------------------------------------------"
                  ./transform.sh -i ../../../en-US/dita/RTC-NG/RTC_NG_API_Electron.ditamap -sn "DITA Map HTML5 - NG Electron" -s ../../../.github/workflows/NG-Electron-en.scenarios -v
            - name: zip files
              run: |
                  cd dita/RTC-NG/out
                  zip -qq -r flutter_ng_cn_doc.zip "flutter-ng-cn"
                  zip -qq -r rn_ng_cn_doc.zip "rn-ng-cn"
                  zip -qq -r unity_ng_cn_doc.zip "unity-ng-cn"
                  zip -qq -r electron_ng_cn_doc.zip "electron-ng-cn"

                  cd ../../../en-US/dita/RTC-NG/out
                  zip -qq -r flutter_ng_en_doc.zip "flutter-ng"
                  zip -qq -r rn_ng_en_doc.zip "rn-ng"
                  zip -qq -r unity_ng_en_doc.zip "unity-ng"
                  zip -qq -r electron_ng_en_doc.zip "electron-ng"

            - name: Upload Flutter NG CN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: dita/RTC-NG/out/flutter_ng_cn_doc.zip
                name: flutter_ng_cn_doc.zip
            - name: Upload Flutter NG EN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: en-US/dita/RTC-NG/out/flutter_ng_en_doc.zip
                name: flutter_ng_en_doc.zip
            - name: Upload RN NG CN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: dita/RTC-NG/out/rn_ng_cn_doc.zip
                name: rn_ng_cn_doc.zip
            - name: Upload RN NG EN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: en-US/dita/RTC-NG/out/rn_ng_en_doc.zip
                name: rn_ng_en_doc.zip
            - name: Upload Unity NG CN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: dita/RTC-NG/out/unity_ng_cn_doc.zip
                name: unity_ng_cn_doc.zip
            - name: Upload Unity NG EN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: en-US/dita/RTC-NG/out/unity_ng_en_doc.zip
                name: unity_ng_en_doc.zip
            - name: Upload Electron NG CN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: dita/RTC-NG/out/electron_ng_cn_doc.zip
                name: electron_ng_cn_doc.zip
            - name: Upload Electron NG EN doc Artifact
              uses: actions/upload-artifact@v4
              with:
                path: en-US/dita/RTC-NG/out/electron_ng_en_doc.zip
                name: electron_ng_en_doc.zip
            - name: Upload Flutter NG CN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/flutter_ng_cn_doc.zip
                  asset_name: flutter_ng_cn_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Flutter NG EN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/flutter_ng_en_doc.zip
                  asset_name: flutter_ng_en_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload RN NG CN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/rn_ng_cn_doc.zip
                  asset_name: rn_ng_cn_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload RN NG EN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/rn_ng_en_doc.zip
                  asset_name: rn_ng_en_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Unity NG CN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/unity_ng_cn_doc.zip
                  asset_name: unity_ng_cn_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Unity NG EN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/unity_ng_en_doc.zip
                  asset_name: unity_ng_en_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Electron NG CN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: dita/RTC-NG/out/electron_ng_cn_doc.zip
                  asset_name: electron_ng_cn_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."
            - name: Upload Electron NG EN doc to release
              if: github.ref_name == github.event.repository.default_branch
              uses: svenstaro/upload-release-action@2.6.0
              with:
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  file: en-US/dita/RTC-NG/out/electron_ng_en_doc.zip
                  asset_name: electron_ng_en_doc.zip
                  tag: ${{ steps.branch-name.outputs.current_branch }}-build
                  make_latest: false
                  overwrite: true
                  body: "DITA docs."