# GitHub CI build pipeline
name: All 4.x Doc JSON Files

on:
    push:
        branches:
            - 'master'
    pull_request:
        branches:
            - 'master'
jobs:
    build:
      strategy:
        matrix:
          platform: [flutter, ios, macos, electron, unity, rn]
          working_dir: [../dita/RTC-NG, ../en-US/dita/RTC-NG]
          staging_tag: ['', '-staging']
      runs-on: ubuntu-latest
      name: ${{matrix.platform}}${{matrix.staging_tag}} ${{matrix.working_dir == '*en-US*'  && '(en)' || '(cn)'}}
      steps:
          - uses: actions/checkout@v3
          - name: Set up python 3.8
            uses: actions/setup-python@v4
            with:
                python-version: '3.8'
          - name: Set Language
            id: matrix_vars
            run: |
              if [[ ${{ matrix.working_dir }} == *en-US* ]]; then
                echo "::set-output name=language::en"
                language=en
              else
                echo "::set-output name=language::cn"
                language=cn
              fi
          - name: Get branch name
            id: branch-name
            uses: tj-actions/branch-names@v7
          - name: Install dependencies
            run: |
                cd xml2json
                python -m pip install --upgrade pip
                if  [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          - name: Run ${{steps.matrix_vars.outputs.language}} JSON creation
            run: |
                cd xml2json
                echo "Running for ${{matrix.platform}} NG"
                if [[ "${{ matrix.staging_tag }}" == -staging ]]; then
                  python xml2json${{matrix.staging_tag}}.py --working_dir ${{matrix.working_dir}} --platform_tag ${{matrix.platform}}
                else
                  python xml2json${{matrix.staging_tag}}.py --working_dir ${{matrix.working_dir}} --platform_tag ${{matrix.platform}} --json_file ${{matrix.platform}}_$language_ng.json --sdk_type rtc-ng --remove_sdk_type rtc --defined_path ${{matrix.platform}}-ng
                fi
          - name: Validate JSON File
            run: |
              python -m json.tool "${{ matrix.platform }}_${{ steps.matrix_vars.outputs.language }}_ng.json" > /dev/null
          - name: Upload ${{matrix.platform}} ${{steps.matrix_vars.outputs.language}} Artifact
            uses: actions/upload-artifact@v3
            with:
              name: ${{matrix.platform}}_ng_json_template_${{ steps.matrix_vars.outputs.language }}${{matrix.staging_tag}}.json
              path: xml2json/${{ matrix.platform }}_${{ steps.matrix_vars.outputs.language }}_ng.json
          - name: Upload ${{matrix.platform}} NG ${{steps.matrix_vars.outputs.language}} JSON to release
            if: github.ref_name == github.event.repository.default_branch
            uses: svenstaro/upload-release-action@2.6.0
            with:
                repo_token: ${{ secrets.GITHUB_TOKEN }}
                file: xml2json/${{ matrix.platform }}_${{ steps.matrix_vars.outputs.language }}_ng.json
                asset_name: ${{matrix.platform}}_ng_json_template_${{steps.matrix_vars.outputs.language}}${{matrix.staging_tag}}.json
                tag: ${{ steps.branch-name.outputs.current_branch }}-build
                overwrite: true
                body: "Template file for automatic comment population."
